html, body {
  background-color: black;
  font-family: Courier New;
  color: white;
}

#input {
  font-family: Courier New;
  font-size: 16px;
  line-height: 18px;
  padding-top: 0px;
  padding-left: 2px;
  height: 18px;
  width: 770px;
  border: 2px solid white;
  resize: none;
  margin-left: 2vw;
  margin-top: 2vh;
}

#output {
  overflow-y: scroll;
  font-size: 16px;
  line-height: 18px;
  padding-top: 0px;
  padding-left: 2px;
  height: 770px;
  width: 770px;
  resize: none;
  border: 2px solid white;
  margin-left: 2vw;
  margin-top: 2vh;
  white-space: pre-wrap;
  background:
    conic-gradient(#080808 90deg,
      #161616 90deg 270deg,
      #080808 270deg 360deg);
  background-repeat: repeat;
  background-size: 36px 36px;
  background-position: top left;
}