body {
  background-color: black;
  font-family: Monospace;
  color: white;
}

#input {
  font-size: 16px;
  line-height: 18px;
  padding-top: 0px;
  padding-left: 2px;
  height: 18px;
  width: 94%;
  border: 2px solid white;
  resize: none;
  margin-left: 2%;
  margin-top: 1%;
}

#output {
  font-size: 16px;
  line-height: 18px;
  padding-top: 0px;
  padding-left: 2px;
  height: 100%;
  width: 94%;
  border: 2px solid white;
  margin-left: 2%;
  margin-top: 1%;
  white-space: pre-wrap;
}