html, body {
  overflow-x: hidden
}

.relative>* {
  position: relative;
  z-index: 0;
}

#isometricParent {
  position: relative;
  width: 0px;
  height: 0px;
}

#isometricContainer {
  position: absolute;
  width: 0px;
  height: 0px;
}

#isometricContainer>* {
  position: absolute;
  image-rendering: pixelated;
  width: 64px;
  height: 256px;
}

#SchematicTile {
  /*all clones*/
  pointer-events: none;
}

.SchematicTile {
  /*only the one that's not cloned*/
  visibility: hidden;
}

.Selection {
  height: 64px;
  z-index: 100;
}

.slider {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2px;
}

.top>* {
  z-index: 100;
}

.inputResetPair {
  display: flex;
}

.resetButton {
  margin-left: 2.5px;
}

.isoDimInput {
  height: 16px;
  width: 80px;
}

#header {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  font-size: 64px;
}

#headerContainer {
  margin-top: 1%;
  padding-top: 0.5%;
  padding-left: 1%;
  height: 240px;
  width: 400px;
  border: 2px solid gray
}

#tileTip {
  margin-top: 1%;
  padding-top: 0.5%;
  padding-left: 1%;
  border: 2px solid gray;
  border-radius: 10px;
  height: 240px;
  width: 400px;
}

.spinGIF {
  scale: 1
}

.viburText {
  font-family: "Vibur", cursive;
  font-size: 36px;
}

.neonderthawText {
  font-family: "Neonderthaw", cursive;
  font-size: 36px;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}

.neonTextP {
  animation: alternateP 1s infinite alternate;
  color: #fff;
}

@keyframes alternateP {
  0%, 49% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(212, 171, 255),
      0 0 80px rgb(172, 108, 255),
      0 0 90px rgb(170, 0, 255),
      0 0 100px rgb(140, 0, 255),
      0 0 150px rgb(157, 0, 255);
  }
  50%, 100% {
    text-shadow:
      0 0 2px #fff,
      0 0 6px #fff,
      0 0 20px rgb(212, 171, 255),
      0 0 35px rgb(172, 108, 255),
      0 0 45px rgb(140, 0, 255),
      0 0 70px rgb(157, 0, 255);
  }
}

#compassContainer {
  position: relative;
  margin: 2%
}

#compass {
  height: 64px;
  width: 64px;
  border: 1px solid white;
}

#compassButtonsContainer {
  position: absolute;
}

.compassButton {
  position: absolute;
  height: 24px;
  width: 24px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  text-shadow: 0 0 10px black;
  border: 1px solid white;
}

.compassButton:hover {
  border: 1px solid white;
}

.compassL {
  left: -4px;
}
.compassR {
  left: 44px;
}
.compassT {
  top: -74px;
}
.compassB {
  top: -26px;
}

#compassSel {
  top: -52px;
  left: 20px;
}