.dynamicImageDisplay {
    border-collapse: collapse;
    margin: none;
    padding: none;
}

.dynamicImageData {
    width: 16vw;
    height: 16vw;
    margin: none;
    padding: none;
}

.photoData {
    width: 16vw;
    height: 16vw;
    margin: none;
    padding: none;
}