.dynamicImageDisplay {
    border-collapse: collapse;
    margin: none;
    padding: none;
}

.dynamicImageData {
    margin: none;
    padding: none;
}

.photoData {
    width: 13vw;
    height: 13vw;
    margin: none;
    padding: none;
}