#dynamicImageDisplay {
    border-collapse: collapse;
    margin: none;
    padding: none;
}

.dynamicImageData {
    width: 16vw;
    height: 16vw;
    margin: none;
    padding: none;
}

.photoData {
    width: 16vw;
    height: 16vw;
    margin: none;
    padding: none;
}

.PLACE {
    image-rendering: pixelated;
}

#imagePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 88vh;
    width: 88vh;
    z-index: 100;
}