body {
  background-color: pink;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.square {
  height: 775px;
  width: 775px;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 0px;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
