.relative >* {
    position: relative;
    z-index: 0;
}
#isometricParent {
    position: relative;
    width: 0px;
    height: 0px;
}
#isometricParent >* {
    position: absolute;
    image-rendering: pixelated;
    width: 64px;
    height: 256px;
}
#SchematicTile { /*all clones*/
    pointer-events: none;
}
.SchematicTile { /*only the one that's not cloned*/
    visibility: hidden;
}
.slider {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}

.top >* {
    z-index: 100;
}

.inputResetPair {
    display: flex;
}

.resetButton {
    margin-left: 2.5px;
}