/*
html {
    height: 100%s;
}
mainBody {
    color: white;
    background-image: url('./assets/isometric/isometricCityScape.png'), url("./assets/backgrounds/starryNightSSmooth.gif");
    background-size: cover,  60px 60px;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
    background-position: center, top left;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
*/
#relative >* {
    position: relative;
    z-index: 0;
}
#isometricParent {
    position: relative;
    width: 0px;
    height: 0px;
}
#isometricParent >* {
    position: absolute;
    width: 32px;
    height: 256px;
    border: 1px solid white;
}
#CLUBNINE {
    top: 100px;
    left: 100px;
    z-index: 1;
}
#CLUBNINE2 {
    top: 100px;
    left: 200px;
    z-index: 1;
}