.relative >* {
    position: relative;
    z-index: 0;
}
#isometricParent {
    position: relative;
    width: 0px;
    height: 0px;
}
#isometricParent >* {
    position: absolute;
    image-rendering: pixelated;
    width: 64px;
    height: 256px;
    shape-image-threshold: 0.5; /*Only pixels with alpha > 0.5 (50% opaque) will trigger focus/click*/
}
#SchematicTile {
    visibility: hidden;
}

.top {
    z-index: 100;
}