#relative >* {
    position: relative;
    z-index: 0;
}
#isometricParent {
    position: relative;
    width: 0px;
    height: 0px;
}
#isometricParent >* {
    position: absolute;
    width: 32px;
    height: 256px;
    border: 1px solid white;
}
#CLUBNINE {
    top: 350px;
    left: 100px;
    z-index: 1;
}
#CLUBNINE2 {
    top: 500px;
    left: 200px;
    z-index: 1;
}