/*
html {
    height: 100%s;
}
mainBody {
    color: white;
    background-image: url('./assets/isometric/isometricCityScape.png'), url("./assets/backgrounds/starryNightSSmooth.gif");
    background-size: cover,  60px 60px;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
    background-position: center, top left;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}