.relative >* {
    position: relative;
    z-index: 0;
}
#isometricParent {
    position: relative;
    width: 0px;
    height: 0px;
}
#isometricParent >* {
    position: absolute;
    image-rendering: pixelated;
    width: 64px;
    height: 256px;
}
#SchematicTile {
    visibility: hidden;
}

.top {
    z-index: 100;
}

#spreadInput {
    display: block;
}
#scaleInput {
    display: block;
}
#mountainInput {
    display: block;
}
#resetSpreadButton {
    display: inline-block;
}
#resetScaleButton {
    display: inline-block;
}
#resetMountainButton {
    display: inline-block;
}
#gridXInput {
    display: block;
}
#gridYInput {
    display: block;
}