.relative >* {
    position: relative;
    z-index: 0;
}
#isometricParent {
    position: relative;
    width: 0px;
    height: 0px;
}
#isometricParent >* {
    position: absolute;
    image-rendering: pixelated;
    width: 64px;
    height: 256px;
    border: 1px solid white;
}
#isometricTile {
    pointer-events: none;
}
#isometricTile:hover {
    border: 2px solid white;
}
#SchematicTile {
    visibility: hidden;
    pointer-events: none;
}
#SchematicTile:hover {
    border: 2px solid white;
}

.top >* {
    z-index: 100;
}

.inputResetPair {
    display: flex;
}

.resetButton {
    margin-left: 2.5px;
}