html, body {
    height: 100%;
    background: 
      conic-gradient(
          #fbfbfb 90deg,
          #ffffff 90deg 180deg,
          #fbfbfb 180deg 270deg,
          #ffffff 270deg 360deg
      );
    background-repeat: repeat;
    background-size: 25px 25px;
    background-position: top left;
    color: black;
    font-family:'Courier New', Courier, monospace;
}

/* ZzZ1ty */
.toZzZ1tyButton {
    display: inline;
    border: 2px solid #6011AF;
    background-color: #8239CA;
    color: rgb(255, 216, 132);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
}
.toZzZ1tyButton:hover {
    background-color: #400B75;
    color: rgb(255, 216, 132);
}